*.bundle
dist
*.exe
*.gz
*.jl
*macos*
manuscript
*.md5
old-releases
*.pdf
probs.md
roadmap.pdf
Session.vim
*.sha256
.*.sw?
tags
target
termal.1
termal.1.gz
termal*.gz
termal-v1.0.0-macos-x86_64
termal-v1.1.0-macos-x86_64
termal*.zip
*windows*
*.zip
*.svg
.codex
remotes*.log
